/* h1 {
    color: blue;
} */

.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}