{% extends 'main/base.html' %}

{% block content %}

<div class="container mt-4">
    <h2>Laboratórios</h2>

    {% if laboratorios %}
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr style="text-align: center;">
            <th>Nome do Laboratório</th>
            <th>Gerenciado por </th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            {% for laboratorio in laboratorios %}
            <tr style="text-align: center;">
                <td>{{ laboratorio.nome_lab }}</td>
                <td>{{ laboratorio.usuario}}</td>
                <td colspan="1"> 
                    <a href="{% url 'laboratorio.pessoas' laboratorio.pk %}"class="btn btn-info">Membros</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <center>
            <h2>Este usuário ainda não possui laboratórios cadastrados, pergunte ao administrador!</h2>
        </center>
    {% endif %}

</div>
{% endblock content %}