{% extends 'main/base.html' %}

{% block content %}

<div class="container mt-4">
    <h2>Laboratórios</h2>
    <div class="row">
        <form method="GET">
            <div class="row justify-content-md-center mb-3">
                <div class="col col-lg-5">
                    <input type="text" value="{{ request.GET.nome }}" name="nome" class="form-control" placeholder="Buscar laboratório"/>
                </div>
                <div class="col col-lg-2">
                    <input type="submit" class="btn btn-secondary" value="Buscar"/>
                </div>
            </div>
        </form>
    </div>
    
    {% if object_list %}
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr style="text-align: center;">
                <th>Nome do Laboratório</th>
                <th>Criado por </th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
                {% for laboratorio in object_list %}
                <tr style="text-align: center;">
                    <td>{{ laboratorio.nome_lab }}</td>
                    <td>{{ laboratorio.usuario}}</td>
                    <td colspan="3">
                        <a href="{% url 'laboratorio.editar' laboratorio.pk %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'laboratorio.remover' laboratorio.pk %}" class="btn btn-danger">Remover</a>  
                        <a href="{% url 'laboratorio.pessoas' laboratorio.pk %}"class="btn btn-info">Membros</a>
                </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1></h1>
        <a href="{% url 'laboratorio.novo' %}" class="btn btn-secondary display-1 mb-4">Cadastrar novo Laboratório</a>

    {% else %}
        <center>
            <h2>Este usuário não possui laboratórios cadastrados</h2>
            <a href="{% url 'laboratorio.novo' %}" class="btn btn-secondary display-1 mb-4">Cadastrar novo Laboratório</a>
        </center>
    {% endif %}
</div>
{% endblock content %}