{% extends 'main/base.html' %}

{% load static %}
{% load bootstrap %}

{% block content %}

<div class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Loasdasdg In</legend>
                    {{ form|bootstrap }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}