{% extends 'main/base.html' %}

{% load static %}
{% load bootstrap %}

{% block content %}
<!-- Navbar provisória -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="{% url 'laboratorio.admin' %}">LITPEG</a>
</nav>

<div class="container">
    <h1>Login</h1>
    <form method="POST">
    {% csrf_token %}
    {{ form|bootstrap }}
    <br>
    <input type="submit" class="btn btn-primary" value="OK">
    </form> 
    <!--
    <p class="text-center">Não possui conta?
        <a href="/accounts/register">Cadastre-se</a>.
    </p>
    <p class="text-center">Entrar como 
        <a href="/admin/">administrador</a>
    </p>
    -->
</div>

{% endblock %}

