{% load static %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Cadastro de Laboratórios</title>
  </head>
  <body>
    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
            <a class="navbar-brand" href="{% url 'pessoas.portaria' %}">LITPEG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'pessoas.portaria' %}">Membros</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'alterar.senha' %}">Alterar Senha</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            </div>
            </div>
        </nav>

        <div class="container mt-4">
            <h2>Membros do Litpeg</h2>
            <div class="row">
                <form method="GET">
                    <div class="row justify-content-md-center mb-3">
                        <div class="col col-lg-5">
                            <input type="search" value="{{ request.GET.search }}" name="search" class="form-control" placeholder="Buscar por nome"/>
                        </div>
                        <div class="col col-lg-2">
                            <input type="submit" class="btn btn-primary" value="Buscar"/>
                        </div>
                    </div>
                </form>
            </div>

            {% if pessoas %}
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                    <tr style="text-align: center;">
                        <th>Nome</th>
                        <th>Número do crachá</th>
                        <th>Função</th>
                        <th>Laboratório</th>
                        <th>Sala</th>
                        <th>Ramal</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for pessoa in pessoas %}
                        <tr>
                            <tr style="text-align: center;">
                                <td>{{ pessoa.nome_completo }}</td>
                                <td>{{ pessoa.numero_cracha }}</td>
                                <td>{{ pessoa.funcao }}</td>
                                <td>{{ pessoa.laboratorio }}</td>
                                <td>{{ pessoa.sala }}</td>
                                <td>{{ pessoa.ramal }}</td>
                            </tr>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            {% endif %}
    {% endif %}

</div>
